*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(./assets/bg.png);
    background-size: cover;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    padding:  20px 10px;
    background-color: black;
    color: #fff;

}
.logo{
  position: relative;
  left: 100px;
}
.line{
  border-right: 2px solid white;
  position: relative;

}

.grow-list{
    position: relative;
    margin-top: 20px;
    left: -120px;
    
  }
  .list{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
  }
  
  .list-item{
    list-style: none;
    margin: 0px 10px;
    margin-right: 50px;
  }
  .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 5px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* Hero Section */

  .hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40%px;
    position: relative;
    top: -80px;
    margin-left: 350px;
   margin-right: 300px;
  }

  .hero >.hero-heading{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
   text-align: center;
   color: #fff;
   
  
  }
  
  .hero-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
   text-align: center;
   color: #fff;
  }
  
  button{
    background-color: #BA0CC5;
    padding: 1rem 3rem;
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
  }
  .button-large{
   font-size: 35px;
   margin-top: 50px;
   
  }
  .button-small{
 font-size: 20px;
  }